[submodule "bundle/ale"]
	path = pack/bundle/start/ale
	url = https://github.com/w0rp/ale
	ignore = dirty
[submodule "bundle/ctrlp.vim"]
	path = pack/bundle/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
	ignore = dirty
[submodule "bundle/ctrlp-py-matcher"]
	path = pack/bundle/start/ctrlp-py-matcher
	url = https://github.com/FelikZ/ctrlp-py-matcher
	ignore = dirty
[submodule "bundle/elm-vim"]
	path = pack/bundle/start/elm-vim
	url = https://github.com/ElmCast/elm-vim
	ignore = dirty
[submodule "bundle/iptables"]
	path = pack/bundle/start/iptables
	url = https://github.com/vim-scripts/iptables
	ignore = dirty
[submodule "bundle/javap.vim"]
	path = pack/bundle/start/javap.vim
	url = https://github.com/yuratomo/javap.vim.git
	ignore = dirty
[submodule "bundle/kotlin-vim"]
	path = pack/bundle/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
	ignore = dirty
[submodule "bundle/nginx.vim"]
	path = pack/bundle/start/nginx.vim
	url = https://github.com/chr4/nginx.vim
	ignore = dirty
[submodule "bundle/onedark"]
	path = pack/bundle/start/onedark
	url = https://github.com/joshdick/onedark.vim
	ignore = dirty
[submodule "bundle/plantuml-syntax"]
	path = pack/bundle/start/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax
	ignore = dirty
[submodule "bundle/purescript-vim"]
	path = pack/bundle/start/purescript-vim
	url = https://github.com/purescript-contrib/purescript-vim
	ignore = dirty
[submodule "bundle/tabular"]
	path = pack/bundle/start/tabular
	url = https://github.com/godlygeek/tabular.git
	ignore = dirty
[submodule "bundle/vim-airline"]
	path = pack/bundle/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
	ignore = dirty
[submodule "bundle/vim-ansible-yaml"]
	path = pack/bundle/start/vim-ansible-yaml
	url = https://github.com/chase/vim-ansible-yaml.git
	ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
	ignore = dirty
[submodule "bundle/vim-gradle"]
	path = pack/bundle/start/vim-gradle
	url = https://github.com/tfnico/vim-gradle
	ignore = dirty
[submodule "bundle/vim-hindent"]
	path = bundle/vim-hindent
	url = https://github.com/alx741/vim-hindent
	ignore = dirty
[submodule "bundle/vim-protobuf"]
	path = pack/bundle/start/vim-protobuf
	url = https://github.com/uarun/vim-protobuf
	ignore = dirty
[submodule "bundle/vim-puppet"]
	path = pack/bundle/start/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
	ignore = dirty
[submodule "bundle/vim-ps1"]
	path = pack/bundle/start/vim-ps1
	url = https://github.com/PProvost/vim-ps1
	ignore = dirty
[submodule "bundle/vim-scala"]
	path = pack/bundle/start/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
	ignore = dirty
[submodule "bundle/vim-swift"]
	path = pack/bundle/start/vim-swift
	url = https://github.com/toyamarinyon/vim-swift
	ignore = dirty
[submodule "bundle/neoformat"]
	path = pack/bundle/start/neoformat
	url = https://github.com/sbdchd/neoformat
	ignore = dirty
[submodule "pack/bundle/start/vim-coffee-script"]
	path = pack/bundle/start/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
	ignore = dirty
[submodule "pack/bundle/start/typescript-vim"]
	path = pack/bundle/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
	ignore = dirty
[submodule "pack/bundle/start/vim-easy-align"]
	path = pack/bundle/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
	ignore = dirty
[submodule "pack/bundle/start/vim-fish"]
	path = pack/bundle/start/vim-fish
	url = https://github.com/dag/vim-fish
	ignore = dirty
